
<body>
  <div id="avatar">
    <label for="tm"><img src="img/me.png" class="circle" id="btn">
    </label>
  </div>

  <div class="container">
    <!-- Checkbox to toggle the menu -->
    <input type="checkbox" id="tm">

    <!-- The menu -->
    <ul class="side-nav">
      <li><a href="#">
        <i class="fa fa-check"></i><b>Tasks</b></a>
      </li>
      <li><a href="#">
        <i class="fa fa-inbox"></i><b>Inbox</b></a>
      </li>
      <li><a href="#">
        <i class="fa fa-pencil"></i><b>New Post</b></a>
      </li>
      <li><a href="#">
        <i class="fa fa-cog"></i><b>Settings</b></a>
      </li>
      <li><a href="#">
        <i class="fa fa-star"></i><b>Starred</b></a>
      </li>
    </ul>

    <!-- Content area -->
    <section>
      <label for="tm"> Click me </label>
    </section>
  </div>
</body>

